.content-header>.breadcrumb{float:none;position:initial;}

.col-busca-devolucao {margin-top: 25px;}
.col-busca-devolucao input{height: 50px;font-size: 20px;}

.col-inserir-usuario {margin-top: 10px;}

.col-visulizar-chamados {margin-top: 25px;}
.col-visulizar-chamados .btn{height: 50px;font-size: 20px;padding:10px;}

.table-visualizar-chamado{}
.table-visualizar-chamado tbody tr td:first-child{width:60%;font-weight:bold;}
.table-visualizar-chamado thead tr th{text-align:center;}

.box-header{cursor:pointer;}

.nav li.button{padding: 7px;padding:5px;color:#333;}
.nav li.button a{padding:8px;color:#444!important;}

.table-chamados .col-acoes a{margin:auto 5px;}